<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
  <title>File Upload Form</title>
</head>
<body class="flex justify-center items-center min-h-screen bg-gray-100">
  <div class="max-w-md p-8 bg-white shadow-md rounded-md border-2 border-gray-300 ">
    <h2 class="text-2xl font-semibold mb-4">Upload afsadfsadfdsafsadfsadfsadfsdaf File</h2>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <div class="mb-4">
        <label for="file" class="block text-sm font-medium text-gray-700">Choose a sadfsadfsadfdsaffile:</label>
        <input type="file" name="file" id="file" class="mt-1">
      </div>
      <div class="mt-4">
        <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-md">
          Upload File
        </button>
      </div>
    </form>

    <% if (uploadedFilePath && isImage) { %>
      <div class="mt-4">
        <p class="text-green-500 font-semibold mb-2">Uploaded Image:</p>
        <p><%= uploadedFilePath %></p>
        <button id="copyButton" class="bg-blue-500 hover:bg-blue-600 text-white py-1 px-2 rounded-md mt-2">Copy Path</button>
        <a href="<%= downloadUrl %>" class="bg-green-500 hover:bg-green-600 text-white py-1 px-2 rounded-md mt-2">Download</a>
      </div>
    <% } %>
  </div>

  <script>
    document.getElementById('copyButton').addEventListener('click', () => {
      const pathElement = document.querySelector('#uploadedPath');
      const path = pathElement.textContent;
      const dummyInput = document.createElement('input');
      document.body.appendChild(dummyInput);
      dummyInput.value = path;
      dummyInput.select();
      document.execCommand('copy');
      document.body.removeChild(dummyInput);
      alert('Copied to clipboard: ' + path);
    });
  </script>
</body>
</html>
